<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
<servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RegisterServlet</servlet-class>
    </servlet>  
     <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet.do</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LoginServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping> 
    <servlet>
        <servlet-name>FatkoeksServlet</servlet-name>
        <servlet-class>za.ac.tut.web.FatkoeksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCardSession</servlet-name>
        <servlet-class>za.ac.tut.web.AddCardSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartServletSession.do</servlet-name>
        <servlet-class>za.ac.tut.web.StartServletSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>za.ac.tut.web.StartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemServlet.do</servlet-name>
        <servlet-class>za.ac.tut.web.AddItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemSession</servlet-name>
        <servlet-class>za.ac.tut.web.AddItemSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SphahloServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SphahloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChipsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ChipsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CofeeServlet</servlet-name>
        <servlet-class>za.ac.tut.web.CofeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DagWoodServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DagWoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>za.ac.tut.web.CheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FatkoeksServlet</servlet-name>
        <url-pattern>/FatkoeksServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCardSession</servlet-name>
        <url-pattern>/AddCardSession.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartServletSession.do</servlet-name>
        <url-pattern>/StartServletSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/StartServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemServlet.do</servlet-name>
        <url-pattern>/AddItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemSession</servlet-name>
        <url-pattern>/AddItemSession.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SphahloServlet</servlet-name>
        <url-pattern>/SphahloServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChipsServlet</servlet-name>
        <url-pattern>/ChipsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CofeeServlet</servlet-name>
        <url-pattern>/CofeeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DagWoodServlet</servlet-name>
        <url-pattern>/DagWoodServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/CheckServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
